body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: #586256;
}

#background {
    position: fixed;
    top: 0;
    right: 0;
    width: 580px;
    height: 100%;
    background-color: white;
}

#cover {
    position: absolute;
    top: 0;
    right: 80px;
}

#content {
    position: fixed;
    top: 80px;
    left: 80px;
    max-width: calc(100% - 800px);
}

.bubble {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px 0px #333333;
}

.bubble h1 {
    margin-top: 0;
    font-size: 1.6em;
}

#quote {

}

#quote-text {

}

#quiz {

}

#question {
    font-weight: bold;
}

#answers {
    list-style-type: none;
    padding-left: 1em;
}

#answers li {
    padding: .5em 0;
}

#answers li.correct-answer {
    color: #689654;
}
#answers li.correct-answer input:disabled+label {
    text-decoration-line: underline;
    font-weight: bold;
    color: #689654;
}

#answers li.incorrect-answer {
    color: #b73829;
}
#answers li.incorrect-answer input:disabled+label {
    text-decoration-line: line-through;
    color: #b73829;
}

#answers li label {
    padding-left: .5em;
}
#answers li input:disabled+label {
    color: #cccccc;
}

input[type=button] {
    color: #eeeeee;
    font-weight: bold;
    font-size: 1em;
    background-color: #689654;
    padding: 10px;
    border: solid #333333 1px;
    border-radius: 6px;
    box-shadow: 5px 5px 8px 0px #666666;
    margin-right: 20px;
}

input[type=button]:disabled {
    opacity: 80%;
    color: #999999;
    background-color: #586256;
}

input[type=button]:active {
    transform: translateX(2px) translateY(4px);
    box-shadow: 3px 3px 8px 0px #666666;
}

input[type=button]:hover:not([disabled]),input[type=button]:focus {
    color: white;
    border: solid #cccccc 1px;
    cursor: pointer;
    outline: 0;
}

#request-info {
    color: #cccccc;
    margin-top: 30px;
    padding-top: 10px;
    /*border-top: solid #cccccc 1px;*/
    font-size: .85em;
}

#error-popups {
    position: fixed;
    top: 80px;
    right: 50px;
    width: 400px;
}

.error-popup {
    background-color: #ea4838;
    color: white;
    /*border: solid black 1px;*/
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px 0px #666666;
}

.fade-in {
    animation: fadeIn .1s ease;
    -webkit-animation: fadeIn .1s ease;
    -moz-animation: fadeIn .1s ease;
    -o-animation: fadeIn .1s ease;
    -ms-animation: fadeIn .1s ease;
}

.fade-out {
    animation: fadeOut 2s ease-in;
    -webkit-animation: fadeOut 2s ease-in;
    -moz-animation: fadeOut 2s ease-in;
    -o-animation: fadeOut 2s ease-in;
    -ms-animation: fadeOut 2s ease-in;
    opacity: 0;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1; }
    100% {opacity:0; }
    /*0% {opacity:1; transform: translateY(0);}*/
    /*100% {opacity:0; transform: translateY(-100%);}*/
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

